 @-webkit-keyframes rotate{
  0% {
	  -webkit-transform: rotate(0);
                  transform: rotate(0);
  }
  100% {
	  -webkit-transform: rotate(360deg);
                  transform:  rotate(360deg);
  }
}
 @-webkit-keyframes swipe{ 
  0% {
	  -webkit-transform: skewX(2deg);
                  transform: skewX(2deg);
  }
  50% {
	  -webkit-transform: skewX(-2deg);
                  transform: skewX(-2deg);
  }
  100% {
	  -webkit-transform: skewX(2deg);
                  transform: skewX(2deg);
  }
}
 @-webkit-keyframes swipe-tree{ 
  0% {
	  -webkit-transform: skewX(0deg);
                  transform: skewX(0deg);
  }
  25% {
	  -webkit-transform: skewX(3deg);
                  transform: skewX(3deg);
  }
  50% {
	  -webkit-transform: skewX(0deg);
                  transform: skewX(0deg);
  }
  75% {
	  -webkit-transform: skewX(-3deg);
                  transform: skewX(-3deg);
  }
  100% {
	  -webkit-transform: skewX(0deg);
                  transform: skewX(0deg);
  }
}
