#contact{
    #header #fix{
        ul li{
            a .bg{
                transform: translateY(-84%);
            }
            >div .bg{
                transform: translateY(-84%);
            }
        }
    }
    .dec-section{
        .leafs{
            position: absolute;
            top: 110px;
            .left{
                position: absolute;
                top: 0;
                left: 0;
                width: 620px;
                z-index: 1;
                transform-origin: 0% 50%;
                >div:nth-child(1){               
                    >img{
                        position: absolute;
                        mix-blend-mode:multiply ;
                        &:nth-child(1){
                            width: 620px; 
                            left: -325px;
                        }
                    }
                }
                .dec{
                    width: 100%;
                    position: absolute;
                    top:200px;
                    .small-leaf{
                        width: 40px;
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .right{
                position: absolute;
                top: 35px;
                left: 1410px;
                width: 620px;
                z-index: 2;
                transform-origin: 100% 50%;
                >div:nth-child(1){               
                    >img{
                        
                        position: absolute;
                        mix-blend-mode:multiply ;
                        &:nth-child(1){
                            width: 620px;
                            right: -52px;
                        }
                    }
                }
                .dec{
                    width: 100%;
                    position: relative;
                    top:200px;
                    .small-leaf{
                        width: 40px;
                        position: absolute;
                        z-index: 1;

                        top: 0;
                        left: 0;
                    }
                    img{
                        transform: rotateZ(10deg);
                        position: absolute;
                    }
                }
            }
        }  
        .clouds{
            img{
                position: absolute;
                &.cloud-1{
                    width:7.9%;
                    top: 905px;
                    left: -2%;
                }
            }

        } 
        .birds{
            position: absolute;
            width: 1920px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            img{
                position: absolute;
                &.bird-1{
                    left: 347px;
                    top: 330px;
                    width: 202px;
                }             
            }
        }
    }
    .section{
        position: relative;
        padding-bottom: 600px;
        .block{
            margin-bottom: -100px;
            .info-box{
                padding: 0 100px 0 100px;
                letter-spacing: 1.5px;
                background: url(images/contact/dot.jpg) bottom repeat-x;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;  
                .left{
                    -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                }
                .right{
                    -webkit-box-flex: 0;
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                }
                ul{
                    li{
                        img{
                            width: 21px;
                        } 
                        &:nth-child(1){
                            img{
                                width: 21px;
                            }
                        } 
                        &:nth-child(2){
                            img{
                                width: 18px;
                            }
                        } 
                        .img-wrapper{
                            flex:0 0 23px;
                        } 
                        a{
                            &:hover{
                                color:#13BFD7;
                            }
                        }
                    }
                }
            }
        }
        .select2{
            width: 100% !important;
        }
    }
    footer{
        margin-top: -375px;
    }
    &~.select2-container--default .select2-results>.select2-results__options{
        margin-top: 10px;
        border-radius: 10px;
    }
    @media (max-width:1400px){
        .section .block .info-box{
            padding: 0 0px;
        }
        .dec-section .birds img.bird-1{
            top: 200px;
        }
    }
    @media (max-width:991px){
        .section .block .info-box{
            display: block;
            .left,
            .right{
                max-width: 100%;
            }
        }
    }
    @media (max-width:575px){
         .dec-section .birds img.bird-1{
             left: 50%;
             width: 150px;
             top: 400px;
         }
         .dec-section .clouds img.cloud-1{
             width: 10%;
             top: 1300px;
             left: 60%;
         }
        .section{
            padding-bottom: 320px;
            .block{
                margin-bottom: 0px;
                .info-box ul li>span{
                    >span:nth-child(1){
                        display: block;
                    }
                }
            }
            .dec{
                width: 1100px;
                bottom: 0;
                left: 60%;
            }
        }  
        footer{
            margin-top: -245px;
        }
        &~.select2-container--default .select2-results>.select2-results__options{
            margin-top: 8px;
            border-radius: 5px;
        }
    }
}








