#news{
    #header #fix{
        ul li{
            a .bg{
                transform: translateY(-84%);
            }
            >div .bg{
                transform: translateY(-84%);
            }
        }
    }
    .section{
        position: relative;
        padding-bottom: 600px;
        .block{
            margin-bottom: -60px;
            ul.lists{
                li{
                    margin-bottom: 80px;
                    a{
                        width: 100%;
                        &:hover{
                            .img-wrapper{
                                .jqimgFill{
                                    transform: scale(1.02);
                                }
                                
                            }
                            
                        }
                        .img-wrapper{
                            
                            width: 408px;
                            height: 295px;
                            -webkit-mask: url("images/news/mask.png") no-repeat center center;
                            mask: url("images/news/mask.png") no-repeat center center;
                            position: relative;
                            .jqimgFill{
                                height: 100%;
                                transition:transform .3S;
                            }
                        }

                    }
                }
            }
        }
    }
    .dec-section{
        .leafs{
            position: absolute;
            .left{
                position: absolute;
                top: 110px;
                left: 0;
                width: 400px;
                z-index: 1;
                transform-origin: 0% 50%;
                >img{
                    
                    position: absolute;
                    mix-blend-mode:multiply ;
                    &:nth-child(1){
                        width: 390px;
                        left: -163px;
                        opacity: 0.8;
                    }
                    &:nth-child(2){
                        width: 350px;
                        top: 119px;
                        left: -38px;
                        opacity: 0.7;
                    }
                    &:nth-child(3){
                        width: 135px;
                        top: 216px;
                        left: -51px;
                    }
                }
                .dec{
                    width: 100%;
                    position: absolute;
                    top:200px;
                    .small-leaf{
                        width: 60px;
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .right{
                position: absolute;
                top: 135px;
                left: 1600px;
                width: 470px;
                z-index: 2;
                transform-origin: 100% 50%;
                >img{
                    
                    position: absolute;
                    mix-blend-mode:multiply ;
                    &:nth-child(1){
                        width: 390px;
                        right: 72px;
                        opacity: 0.6;
                    }
                    &:nth-child(2){
                        width: 326px;
                        top: 110px;
                        right:20px;
                    }
                    &:nth-child(3){
                        width: 131px;
                        top: 197px;
                        right: 95px;
                    }
                }
                .dec{
                    width: 100%;
                    position: relative;
                    top:200px;
                    .small-leaf{
                        width: 40px;
                        position: absolute;
                        z-index: 1;

                        top: 0;
                        left: 0;
                    }
                    img{
                        transform: rotateZ(10deg);
                        position: absolute;
                    }
                }
            }
        }
        .fishs{
            img{
                position: absolute;
                &.fish-1{
                    left: 77px;
                    top: 266px;
                    width:363px;
                }
                &.fish-2{
                    left: 1400px;
                    top: 246px;
                    width: 200px;
                }             
            }
        }
 
    }


    footer{
        margin-top: -375px;
    }
    @media (max-width:1400px) {
       .section .block ul.lists li a .img-wrapper{
           width: 326.4px;
           height: 238.4px;
        -webkit-mask: url(images/news/mask-1400.png) no-repeat center center;
            mask: url(images/news/mask-1400.png) no-repeat center center;
       }
       .dec-section .fishs img.fish-1{
           left: -10%;
       }
    }
    @media (max-width:991px){
       .dec-section .fishs img.fish-1{
           left: -20%;
       }      
    }
    @media (max-width:575px){
        .section{ 
            padding-bottom: 375px;
            .block{
                margin-bottom: 0;
            }
        }
        .section .block ul.lists li{
            margin-bottom: 30px;
        }
        .dec-section .fishs img.fish-1{
            top: 140px;
            width: 200px;
            left: -30%;
        }
        .dec-section .fishs img.fish-2{
            top: 150px;
            width: 100px;
            left:75%;
        }
        .section .block ul.lists li a .img-wrapper{
            width: 244.8px;
            height: 178.8px;
            -webkit-mask: url(images/news/mask-phone.png) no-repeat center center; 
            mask: url(images/news/mask-phone.png) no-repeat center center;
        }
        .section .dec{
            width: 900px;
            left: 69%;
        }
        footer {
            margin-top: -290px;
        }
    }
}